:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  background: linear-gradient(to right bottom, #eb2f64, #BA265D); }

.container {
  background-color: rebeccapurple;
  min-height: 80rem;
  height: 120rem; }

.header {
  background-color: white;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.content {
  display: flex;
  background-color: white;
  min-height: 80%; }

.side-bar {
  flex: 0 0 18%;
  background-color: #353535;
  display: flex; }

.hotel-view {
  background-color: var(--color-grey-light-3);
  flex: 1; }

.description {
  flex: 0 0 60%;
  background-color: white;
  display: flex;
  padding: 3rem;
  font-size: 140%;
  color: gray;
  flex-direction: column; }

.reviews-layout {
  flex: 1;
  margin-left: 3rem;
  display: flex;
  flex-direction: column; }

.logo {
  width: 3rem;
  height: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 90%;
    border: none;
    border-radius: 100px;
    margin-right: -3rem;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    transition: all .4s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    width: 2rem;
    height: 1.75rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  background-color: aqua;
  flex: 0 0 35%;
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    padding: 1rem 1rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    height: 100%; }
  .user-nav__icon-box {
    background-color: aquamarine;
    position: relative; }
  .user-nav__icon {
    width: 2.25rem;
    height: 100%;
    fill: gray; }
  .user-nav__notification {
    position: absolute;
    left: 2.2rem;
    top: 2.9rem;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    color: white; }
  .user-nav__user {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: red; }
  .user-nav__user-photo {
    margin-right: 1rem;
    height: 3rem;
    border-radius: 50%; }

.nav-text {
  background-color: red;
  color: blue; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    padding: 1.5rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--color-grey-light-1);
    z-index: 10;
    position: relative; }
  .side-nav__icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 2rem;
    fill: gray; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    height: 100%; }

.overview {
  display: flex;
  background-color: white;
  align-items: center; }
  .overview__rating-square {
    background-color: var(--color-primary-light);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 2rem;
    align-items: center;
    color: white; }
  .overview__rating-note {
    font-size: 200%;
    font-weight: 400; }
  .overview__heading {
    font-weight: 200;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 160%;
    color: gray;
    background-color: transparents; }
  .overview__stars {
    display: flex;
    align-items: center;
    margin-right: auto; }
  .overview__icon-star {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary-light); }
  .overview__icon-location {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary-light); }
  .overview__item {
    width: 2rem;
    height: 2rem; }
  .overview__location {
    display: flex; }

.btn-inline {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  background-color: transparent;
  padding-bottom: 1px; }

.details {
  display: flex;
  background-color: transparent;
  margin: 3rem;
  height: 80rem; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center; }
  .list__item {
    display: flex;
    flex: 0 0 50%;
    justify-content: center; }
  .list__icon-item {
    margin-right: .5rem;
    fill: currentColor;
    font-weight: bolder;
    width: 1.5rem;
    height: 1.5rem; }

.recommend {
  display: flex;
  align-items: center; }
  .recommend__text-count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__friends-photo {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-left: -1.5rem; }

.user-review {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: white;
  min-height: 20rem;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  color: #7a7373; }
  .user-review:not(:last-child) {
    margin-bottom: 3rem; }
  .user-review::before {
    content: "\201C";
    position: absolute;
    top: -.8rem;
    left: 0px;
    font-size: 10rem;
    color: rgba(122, 115, 115, 0.3); }
  .user-review__box-infos {
    display: flex;
    justify-content: space-between; }
  .user-review__name {
    font-weight: 600; }
  .user-review__rating {
    color: white;
    background-color: var(--color-primary-light);
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 140%;
    font-weight: bold; }
  .user-review__photo {
    border-radius: 50%;
    width: 3rem;
    height: 3rem; }
  .user-review__cords {
    display: flex;
    flex-direction: column; }
  .user-review__text {
    margin: 2rem 0;
    font-size: 140%; }
