.logo {
    width: 3rem;
    height: 3rem;
  
}

.search {
    flex: 0 0 40%;
    display: flex;

    justify-content: center;
    align-items: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        width: 90%;
        border: none;
        border-radius: 100px;
        margin-right: -3rem;
        background-color:  var(--color-grey-light-2);
        padding: 0.7rem 2rem;

        // border: none;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

    }
    &__button {
        border: none;
        background-color:  var(--color-grey-light-2);
        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        width: 2rem;
        height: 1.75rem;
        fill: var(--color-grey-dark-3);

    }

    
}

