.logo {
    width: 3rem;
    height: 3rem;

}

.search {
    flex: 0 0 40%;
    display: flex;

    justify-content: center;
    align-items: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        width: 90%;
        border: none;
        border-radius: 100px;
        margin-right: -3rem;
        background-color: var(--color-grey-light-2);
        padding: 0.7rem 2rem;
        transition: all .4s;

        // border: none;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        width: 2rem;
        height: 1.75rem;
        fill: var(--color-grey-dark-3);

    }


}


.user-nav {
    background-color: aqua;
    flex: 0 0 35%;
    display: flex;
    align-self: stretch;
    align-items: center;

    &>* {
        padding: 1rem 1rem;
        cursor: pointer;
        align-items: center;
        display: flex;
        height: 100%;
    }

    &__icon-box {
        background-color: aquamarine;
        position: relative;

    }

    &__icon {
        width: 2.25rem;
        height: 100%;
        fill: gray;

    }

    &__notification {
        position: absolute;
        left: 2.2rem;
        top: 2.9rem;
        display: flex;
        background-color: red;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        text-align: center;
        color: white;
    }

    &__user {
        flex: 1;
        display: flex;
        align-items: center;
        background-color: red;
    }

    &__user-photo {
        // width: 100%;
        margin-right: 1rem;
        height: 3rem;
        border-radius: 50%;
    }

}

.nav-text {
    background-color: red;
    color: blue;
}

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s,
            width .4s cubic-bezier(1, 0, 0, 1) .2s,
            background-color .1s;


    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        padding: 1.5rem 3rem;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--color-grey-light-1);
        z-index: 10;
        position: relative;
    }


    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2rem;
        fill: gray;
    }
}

.gallery {
    display: flex;

    &__photo {
        width: 100%;
        height: 100%;
    }
}

.overview {
    display: flex;
    background-color: white;
    align-items: center;



    &__rating-square {
        background-color: var(--color-primary-light);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-left: 2rem;
        align-items: center;
        color: white;
    }
    &__rating-note {
        font-size: 200%;
        font-weight: 400;

    
    }

    &__heading {
        font-weight: 200;
        letter-spacing: 0.3rem;

        // display: flex;
        // align-items: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        font-size: 160%;
        color: gray;
        background-color: transparents;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__icon-star {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary-light);
    }

    &__icon-location {
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary-light);
    }

    &__item {
        width: 2rem;
        height: 2rem;
    }

    &__location {
        display: flex;
    }

    &__rating {}
}


.btn-inline {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    background-color: transparent;

    padding-bottom: 1px;


}

.details {
    display: flex;
    background-color: transparent;
    margin: 3rem;
    height: 80rem;



    // height: 100%;

}
.description {
    flex: 0 0 60%;
    background-color: white;
    display: flex;
    padding: 3rem;
    font-size: 140%;
    color: gray;
    flex-direction: column;

}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
 
}
.list {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    &__item {
        display: flex;
        flex: 0 0 50%;
        justify-content: center;

    }
    &__icon-item {
        margin-right: .5rem;
        fill: currentColor;
        font-weight: bolder;
        width: 1.5rem;
        height: 1.5rem;

    }
}


.recommend {
    display: flex;
    align-items: center;

    &__text-count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }
    &__friends-photo {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        margin-left: -1.5rem;
    }
}