.container {
    background-color: rebeccapurple;
    min-height: 80rem;
    height: 120rem;
}
.header {
    background-color: white;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content {
    display: flex;
    background-color: white;
    min-height: 80%;
}
.side-bar {
    flex: 0 0 18%;
    background-color: grayscale($color: #363333);
    display: flex;

}


.hotel-view {
    background-color: var(--color-grey-light-3);
    flex: 1;
}
